client
dev {{ openvpn_device }}
proto {{ openvpn_protocol }}
remote {{ openvpn_server_host }} {{ openvpn_port }} 
cipher {{ openvpn_cipher }}
tls-client
key-direction 1
comp-lzo
persist-key
persist-tun
nobind
script-security {{ openvpn_script_security }}
status {{ openvpn_status_log }}
log {{ openvpn_log }}
verb {{ openvpn_verbose }}
mute {{ openvpn_mute }}


<key>
-----BEGIN PRIVATE KEY-----
sea0e/ejhVzg8KqrZdkGihIy3H6moyiXvJCw3uK3zCUrvgQ3blm8mhhLVeVxS08Y
AXsXkMZsBOQMcluREGhcZxkHYlU3AgMBAAECgYBTchvjw3ITpo0Qn4uKvdQ8DuGu
6Xt0gc/8/xgoRWQ8RQc68LKrFdgkA7vbBq1LBnsNQ5fY75QRC9v8JJi98pZ4makB
MkipnVy1xB1cg0kAhyMUGAi8EeiPK1nQZMS+sC3WtsPulolrhpMmP62dxJzJvxZu
nfPyTowZuso/1QtuaQJBAN5jDMNoSt/eqeGkmor9AA59clVbTJCEgB4Jx4ZrTJY6
TDXpFgApPqxOQIJiKIZWZZsPLFzMvL9BIe3VQmuDEEsCQQDbISornPWM+JCTtewh
+VHg31Bqhl64NM6wq1DRYI1CXopu4oFwQJ6/8F6WcX+5uRHOBs1hcLSVmrLXpY1w
cDNFAkEAxOc4htAR85QoIITo3QVUBoBmOlNjQFZBRdds1YStxBoMHnOpqizatB95
GLimnwNiZV+S7PvOZxzZWMbJT341bwJABHoh/XAgiDfP5GS0JWGNrbWCVBrYtpTF
oFBvv0dku3VpCKjyEhQP6kYD+Ljq7iV82qPC8Hm4BtJ5UvSb9i8krQJBAIXoOPiZ
3FoYiAx0+8KpFYAB9T6HP0+PU+vsB9uuBTPFpJoJTE+ZRw8qxrkRr6M1QoFt5GxW
g+vrM88zIJJ1Mms=
-----END PRIVATE KEY-----
</key>
<cert>
-----BEGIN CERTIFICATE-----
MIID4TCCA0qgAwIBAgIBNTANBgkqhkiG9w0BAQQFADCBjzELMAkGA1UEBhMCUlUx
DTALBgNVBAgTBEtPTUkxDTALBgNVBAcTBENJVFkxEDAOBgNVBAoTB09wZW5WUE4x
DTALBgNVBAsTBEtPTUkxDzANBgNVBAMTBnNlcnZlcjEPMA0GA1UEKRMGc2VydmVy
MR8wHQYJKoZIhvcNAQkBFhBtYWlsQGhvc3QuZG9tYWluMB4XDTE3MTAxMDEzNDUw
MFoXDTI3MTAwODEzNDUwMFowgZIxCzAJBgNVBAYTAlJVMQ0wCwYDVQQIEwRLT01J
MQ0wCwYDVQQHEwRDSVRZMRAwDgYDVQQKEwdPcGVuVlBOMQ0wCwYDVQQLEwRLT01J
gYEAvluLUfJ9XiGHbcKtTQdcMxrUCnjDYRzm/pMzJs2Btlqnk8kx2rQnHg4hp3dq
z9ElvDZCWt4oFitnshax5rR796OFXODwqqtl2QaKEjLcfqajKJe8kLDe4rfMJSu+
BDduWbyaGEtV5XFLTxgBexeQxmwE5AxyW5EQaFxnGQdiVTcCAwEAAaOCAUYwggFC
MAkGA1UdEwQCMAAwLQYJYIZIAYb4QgENBCAWHkVhc3ktUlNBIEdlbmVyYXRlZCBD
ZXJ0aWZpY2F0ZTAdBgNVHQ4EFgQUDLuaIMOOHTUbFRfjUuWfHzFG4vcwgcQGA1Ud
IwSBvDCBuYAUh5GGnWExRv1SxPNmjnDDEk+b+zShgZWkgZIwgY8xCzAJBgNVBAYT
AlJVMQ0wCwYDVQQIEwRLT01JMQ0wCwYDVQQHEwRDSVRZMRAwDgYDVQQKEwdPcGVu
VlBOMQ0wCwYDVQQLEwRLT01JMQ8wDQYDVQQDEwZzZXJ2ZXIxDzANBgNVBCkTBnNl
cnZlcjEfMB0GCSqGSIb3DQEJARYQbWFpbEBob3N0LmRvbWFpboIJAN+wuzPF7RUX
MBMGA1UdJQQMMAoGCCsGAQUFBwMCMAsGA1UdDwQEAwIHgDANBgkqhkiG9w0BAQQF
AAOBgQDfvRuBoGxI07u4RYXwpFaYLDU7lKRM7moj0d6ZN3Tpg2OauYqtH0zbDG07
4Hc1Vj7TkLW4fFYqd4NnHN8SJ1zwhIOMl5jGt2CldFsu1J4BPz6At2iR6QGmYnko
TvlBAj1hJUFaOE/Z50WGw/8Zzo3CkCCJB0Pm0EiU5I9wEsumog==
-----END CERTIFICATE-----
</cert>
<ca>
-----BEGIN CERTIFICATE-----
MIIDljCCAv+gAwIBAgIJAN+wuzPF7RUXMA0GCSqGSIb3DQEBBQUAMIGPMQswCQYD
VQQGEwJSVTENMAsGA1UECBMES09NSTENMAsGA1UEBxMEQ0lUWTEQMA4GA1UEChMH
T3BlblZQTjENMAsGA1UECxMES09NSTEPMA0GA1UEAxMGc2VydmVyMQ8wDQYDVQQp
EwZzZXJ2ZXIxHzAdBgkqhkiG9w0BCQEWEG1haWxAaG9zdC5kb21haW4wHhcNMTYw
MzA5MTk0OTQzWhcNMjYwMzA3MTk0OTQzWjCBjzELMAkGA1UEBhMCUlUxDTALBgNV
BAgTBEtPTUkxDTALBgNVBAcTBENJVFkxEDAOBgNVBAoTB09wZW5WUE4xDTALBgNV
BAsTBEtPTUkxDzANBgNVBAMTBnNlcnZlcjEPMA0GA1UEKRMGc2VydmVyMR8wHQYJ
KoZIhvcNAQkBFhBtYWlsQGhvc3QuZG9tYWluMIGfMA0GCSqGSIb3DQEBAQUAA4GN
ADCBiQKBgQDukN7qJotK0K2NIj6V0pj11X2nUdv+nmWHHrkxOxtd715d+qPYZaSO
TqwN3Iz12UI4J+eudWTDhra3Xylf5BOR5uFzCFU/QtJxp703lt7dQ96NlUJ38Aae
NGAMmnHJyyEO3lU4b+IFpE1yBeuUumYiynnn7SNVGYypbri0phNhFQIDAQABo4H3
MIH0MB0GA1UdDgQWBBSHkYadYTFG/VLE82aOcMMST5v7NDCBxAYDVR0jBIG8MIG5
gBSHkYadYTFG/VLE82aOcMMST5v7NKGBlaSBkjCBjzELMAkGA1UEBhMCUlUxDTAL
BgNVBAgTBEtPTUkxDTALBgNVBAcTBENJVFkxEDAOBgNVBAoTB09wZW5WUE4xDTAL
BgNVBAsTBEtPTUkxDzANBgNVBAMTBnNlcnZlcjEPMA0GA1UEKRMGc2VydmVyMR8w
1P01vT+3eg28+2vWuqHSKMggq1L7jc1ErpZ8Alq78RtEZQwa2bFa/xgwu5qRNoOH
XKYD1qv0zrC2rDGI1f98y5/XT8czVfzLe/akm9WWs8BbzLKWi3D6DPY7nPfs4/sl
6itNnI/EolvvWw==
-----END CERTIFICATE-----
</ca>
<tls-auth>
#
# 2048 bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
858b6691d2294097272076906d394af7
c8a2b92ba27d4cc4e02a33f45ff6481a
b2c97bb4d74b84a54105fb552fb04038
7b71bf3cb1ed1cf429dad81a46e33f9e
ec3f5e5418d7b05f647a843ffe51f7b7
e0f76959437942230582261a5b95c6ac
7a6a6fd3d2d4784e597e9f46b7e0c799
40fa2c58b23d95255988e10adc403cbc
463e5705ba3ffa00b173dfa8e371a21f
970f27e63ced7824a45007a3511eaa8c
3f3a0f6041e88c3eec96826e21c71c99
aef4a35e782dab2f20326c8f10d9c59c
871d0de58320d70b5409eb420453a000
6c4563a5fc78a3e12ab0734d6348f9d9
-----END OpenVPN Static key V1-----
</tls-auth>
